<ul>
    <li>
        <a href="{:iurl()}">
            <div class="icon">
                <img src="__INDEX__/images/icon/tab-home.png" alt="">
            </div>
            <div class="title">首页</div>
        </a>
    </li>
    <li>
        <a href="{:iurl('video')}">
            <div class="icon">
                <img src="__INDEX__/images/icon/tab-cate.png" alt="">
            </div>
            <div class="title">视频</div>
        </a>
    </li>
    <li>
        <a href="{:iurl('book')}">
            <div class="icon">
                <img src="__INDEX__/images/icon/novel.svg" alt="">
            </div>
            <div class="title">小说</div>
        </a>
    </li>
    <li>
        <a href="{$conf['kf_url']}">
            <div class="icon">
                <img src="__INDEX__/images/icon/online.svg" alt="">
            </div>
            <div class="title">客服</div>
        </a>
    </li>
    <li>
        <a href="{:iurl('user')}">
            <div class="icon">
                <img src="__INDEX__/images/icon/my.svg" alt="">
            </div>
            <div class="title">我的</div>
        </a>
    </li>
</ul>