<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小说预览</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .book{
            width: 800px;
            margin: 0 auto;
        }
        .book h1{
            height: 80px;
            line-height: 80px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="book">
        <h1>{$info['title']}</h1>
        <div class="content">
            {$info['content']|htmlspecialchars_decode|raw}
        </div>
    </div>
</body>
</html>